@import "tailwindcss";

@theme {
  --color-primary: #3F72AF;
  --color-background-light: #F9F7F7;
  --color-background-dark: #112D4E;
  --color-surface-dark: #112D4E;
  --color-surface-light: #FFFFFF;

  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;

  --radius-xl: 0px;
  --radius-2xl: 0px;
}

* {
  font-family: "Inter", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-background-light);
  color: var(--color-gray-900);
}

/* Custom Scrollbar for horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}